div(class="content-bar")
    div(class="unlimited-access-container")
        button(class="unlimited-access-btn") Upgrade
    div(class="currently-reading-container")
        div(class="currently-reading-title")
            span(class="recent-article-text") 
                li Recent Articles: 
                    span(class="what-reading-text") What We're Reading
        div(class="currently-reading-articles-container")
            -let k = 0
            each story in contentBarStories
                -k++
                div(class="story-preview-container")
                    div(class="story-owner-header")
                        img(class="story-owner-img" src=`https://picsum.photos/20${k}`)
                        a(class="story-owner-profile" href=`/users/${story.User.id}`) #{story.User.firstName} #{story.User.lastName}
                    a(class="story-preview-title" href=`/stories/${story.id}`)= story.title
        a(href='/thanks' class="see-the-full-list") See the full list
    div(class="writing-container")
        div(class="writing-on-medium-container")
            div(class="container-header")
                img(class="close-box-button" src="/images/close2.png")
            div(class="inner-writing-container")
                h3(class="writing-title") Writing on Medium
                div(class="sub-container")
                    a(id="new-writer-faq" href="/thanks") New writer FAQ
                    a(id="expert-writing-advice" href="/thanks") Expert writing advice
                    a(id="grow-readership" href="/thanks") Grow your readership
                button(class="start-writing-btn" id="start-writing-btn") Start writing
    div(class="border-div")
    div(class='bottom-wrapper')
        div(class="recommended-topics-container")
            div(class="recommended-topics-header")
                h3(class="recommended-topics-title") Recommend topics
            div(class="recommend-topics-tags")
                each tag in contentBarTags 
                    button(class="recommended-tag-button" id=`btn-${tag.id}`) #{tag.name}
        div(class="recommended-follows-container")
            div(class="recommended-follows-header")
                h3(class="recommended-follows-title") Who to follow
            div(class="recommended-users-container")
                - let j = 0
                each user in nonFollowedAccounts
                    -j++
                    div(class="user-div")
                        div(class="user-icon-container")
                            a(href=`/users/${user.id}`)
                                img(class="user-icon" src=`https://picsum.photos/20${j}`)
                        div(class="user-text-container")
                            a(class='rec-user-name' href=`/users/${user.id}`) #{user.firstName} #{user.lastName}
                            p(class="rec-user-bio-text") Writer, blogger, activist. 
                        button(class="follow-btn" id=`${user.id}-follow-btn`) Follow
            a(href="#" class="suggestions-link") See more suggestions


            
