link(rel='stylesheet' href='/stylesheets/feed.css')
div(class='centerHolder')
    div(id='keepup')
        a(href="/thanks") +
        p Keep up with the latest in any topic

    div(id='feedChoice')
        p(id='following') Following 
        p(id='recommended') Recommended
    div(id= 'contentDisplayed')
        div(id= 'recommendedStories')
            -let n = 0
            each story in stories.reverse()
                -n++
                div(class='storyDiv')
                    div(class='storyContent')
                        div(class='topInfo')
                            img(class='feedprofile-img' src='/images/logo.png')
                            a(href=`/users/${story.User.id}`) #{story.User.firstName} #{story.User.lastName}
                            p · #{story.date}
                        a(href=`/stories/${story.id}` class='storyTitle')= story.title
                        div(class='storyPreview')
                            a(href=`/stories/${story.id}`)= `${story.article.split(' ').splice(0,25).join(' ')}... `
                        div(class='underStory')
                            div(class='underLeft')
                                a(href=`/tags/${story.Tag.id}`)= story.Tag.name 
                                p #{story.readTime} min · selected for you 
                            div(class='underRight')
                                img(src="/images/save3.png")
                                if (currUser.id === story.User.id)
                                    button(class="story-btn" id="story-edit-btn" data-index=`story-${story.id}`) Edit
                                    button(class="story-btn" id="story-delete-btn" data-index=`story-${story.id}`) Delete
                                
                    div(class='imgDiv')
                        img(class='imgPreview' src= `https://picsum.photos/20${n}`)
        div(id='followingStories')
            -let m = 0
            each story in followingStories.reverse()
                -m++
                div(class='storyDiv')
                    div(class='storyContent')
                        div(class='topInfo')
                            img(class='feedprofile-img' src='/images/logo.png')
                            a(href=`/users/${story.User.id}`) #{story.User.firstName} #{story.User.lastName}
                            p · #{story.date}
                        a(href=`/stories/${story.id}` class='storyTitle')= story.title
                        div(class='storyPreview')
                            a(href=`/stories/${story.id}`)=`${story.article.split(' ').splice(0,25).join(' ')}... `
                        div(class='underStory')
                            div(class='underLeft')
                                a(href=`/tags/${story.Tag.id}`)= story.Tag.name 
                                p #{story.readTime} min · selected for you 
                            div(class='underRight')
                                img(src="/images/save.png", alt="")
                                strong(href='#') ···
                    div(class='imgDiv')
                        img(class='imgPreview' src=`https://picsum.photos/20${m}`)