div(class='centerHolder')
    div(id='keepup')
        a(href="#") +
        p Keep up with the latest in any topic

    div(id='feedChoice')
        p Following 
        p Recommended

    each story in stories
        div(class='storyDiv')
            div(class='storyContent')
                div(class='topInfo')
                    img(class='feedprofile-img' src='/images/logo.png')
                    a(href='#') #{story.User.firstName} #{story.User.lastName}
                    p · #{story.date}
                h2(class='storyTitle')= story.title
                div(class='storyPreview')
                    p=story.article
                div(class='underStory')
                    div(class='underLeft')
                        a(href="#")= story.Tag.name 
                        p #{story.readTime} min · selected for you 
                    div(class='underRight')
                        img(src="/images/save.png", alt="")
                        strong(href='#') ···
            div(class='imgDiv')
                img(class='imgPreview' src='/images/logo.png')
