.splashBanner 
    .mainBanner-text
        #mainBanner-title Stay curious.
        #mainBanner-header Discover stories, thinking, and expertise from writers on any topic.
        button(id="mainBanner-button") Start reading
    #randomMgenerator
        - for (let rows = 0; rows < 17; rows++)
            - for (let cols = 0; cols < 25; cols++)
                .disappearingM M
.splashContent
    #splashContentHeader Trending on Medium
    .trend-storiesCollection
        - let count = 1;
        each story in trending
            .trend-story(id=`story_${story.id}`)
                .trend-storyNumber= `0${count}`
                - count++;
                .trend-storyContent 
                    .trend-storyHeader 
                        .trend-storyHeaderImage Img
                        .trend-storyHeaderInfo= `${story.User.firstName} ${story.User.lastName} in ${story.Tag.name}`
                    .trend-storyTitle= story.title
                    .trend-storyInformation= `${story.date} · 5 min read`