.splashBanner 
    .mainBanner-text
        #mainBanner-title Stay curious.
        #mainBanner-header Discover stories, thinking, and expertise from writers on any topic.
        button(id="mainBanner-button") Start reading
    #randomMgenerator
        - for (let rows = 0; rows < 17; rows++)
            - for (let cols = 0; cols < 25; cols++)
                .hidden#disappearingM M
.splashContent
    #splashContentHeader Trending on Medium
    .trend-storiesCollection
        - let count = 1;
        each story in trending
            .trend-story(id=`story_${story.id}`)
                .trend-storyNumber= count
                - count++;
                .trend-storyContent 
                    .trend-storyHeaders 
                        .trend-storyHeadersImage Img
                        .trend-storyHeadersAuthor= `${story.userId.firstName} ${story.userId.lastName}`
                        .trend-storyHeadersTag= `${story.tagId.name}`
                    .trend-storyTitle= story.title
                    .trend-storyInformation 
                        .trend-storyPublishedDate= story.updatedAt 
                        .trend-expectedTime 5 min read
