
include utils.pug 
.splashBanner 
    .mainBanner-text
        #mainBanner-title Stay curious.
        #mainBanner-header Discover stories, thinking, and expertise from writers on any topic.
        button(id="mainBanner-button") Start reading
    #randomMgenerator
        - for (let rows = 0; rows < 17; rows++)
            - for (let cols = 0; cols < 25; cols++)
                .disappearingM M
.splashTrending
    #splashContentHeader Trending on Medium
    .trend-storiesCollection
        - let count = 1;
        each story in newStories
            .trend-story(id=`story_${story.id}`)
                .trend-storyNumber= `0${count}`
                - count++;
                .trend-storyContent 
                    .trend-storyHeader 
                        .trend-storyHeaderImage Img
                        .trend-storyHeaderInfo= `${story.User.firstName} ${story.User.lastName} in ${story.Tag.name}`
                    .trend-storyTitle= story.title
                    .trend-storyInformation= `${story.date} · ${story.readTime} min`
.splashScroll 
    .scroll-stories
        each story in stories
            div(class='storyDiv')
                div(class='storyContent')
                    div(class='topInfo')
                        img(class='feedprofile-img' src='/images/logo.png')
                        a(href='#') #{story.User.firstName} #{story.User.lastName}
                    h2(class='storyTitle')= story.title
                    div(class='storyPreview')
                        p= `${story.blurb}...`
                    div(class='underStory')
                        div(class='underLeft')
                            p= `${story.date} · ${story.readTime} min · selected for you`
                            a(href="#" class='scroll-tag')= story.Tag.name 
                        div(class='underRight')
                            img(src="/images/save.png", alt="")
                div(class='imgDiv')
                    img(class='imgPreview' src='/images/logo.png')
    #scroll-information
        #scroll-informationHeader Discover more of what matters to you
        .scroll-tags
            each tag in tags
                //- should be a link to see stories with these tags.
                .scroll-tag= tag.name
        .scroll-informationLinks
            +field('This', 'infoLinks')
            +field('is', 'infoLinks')
            +field('a', 'infoLinks')
            +field('Medium', 'infoLinks')
            +field('Clone.', 'infoLinks')
            +field('All', 'infoLinks')
            +field('data', 'infoLinks')
            +field('is', 'infoLinks')
            +field('fake', 'infoLinks')