
.splashBanner 
    .mainBanner-text
        #mainBanner-title Stay curious.
        #mainBanner-header Discover stories, thinking, and expertise from writers on any topic.
        a(id="mainBanner-button") Start reading
    #randomMgenerator
        - for (let rows = 0; rows < 17; rows++)
            - for (let cols = 0; cols < 25; cols++)
                .disappearingM M
.splashTrending
    #splashContentHeader Trending on Medium
    .trend-storiesCollection
        -let n = 0
        - let count = 1;
        each story in newStories
            -n++
            .trend-story(id=`story_${story.id}`)
                .trend-storyNumber= `0${count}`
                - count++;
                .trend-storyContent 
                    .trend-storyHeader 
                        img.trend-storyHeaderImage(src=`https://picsum.photos/20${n}` style='border-radius:50%;')
                        a.trend-storyHeaderInfo= `${story.User.firstName} ${story.User.lastName} in ${story.Tag.name}`
                    a.trend-storyTitle= story.title
                    .trend-storyInformation= `${story.date} · ${story.readTime} min`
.splashScroll 
    .scroll-stories
        each story in stories
            -n++
            div(class='storyDiv')
                div(class='splash-storyContent')
                    div(class='topInfo')
                        img(class='feedprofile-img' src='/images/logo.png')
                        a #{story.User.firstName} #{story.User.lastName}
                    a(class='storyTitle')= story.title
                    div(class='storyPreview')
                        p= `${story.blurb}...`
                    div(class='splash-underStory')
                        div(class='splash-underLeft')
                            p= `${story.date} · ${story.readTime} min · selected for you`
                            a(href="#" class='scroll-tag')= story.Tag.name 
                        div(class='underRight')
                            img(src="/images/save.png", alt="")
                img(class='scroll-stories-preivew-img' src=`https://picsum.photos/20${n}`)
   
    #scroll-information
        #scroll-informationHeader Discover more of what matters to you
        .scroll-tags
            each tag in tags
                //- should be a link to see stories with these tags.
                a.scroll-tag= tag.name
        .scroll-informationLinks
            p(class="disclaimer") *This is a Medium Clone. All data is fake.
script(src="/javascripts/disappearingM.js") 