div(class='centerHolderUser')
    div(id='keepupUser')
        a(href=`/users/${user.id}`)
            p(class="user-full-name")= `${user.firstName} ${user.lastName}`
    div(id='feedChoiceUser')
        a(id='homeButton' href=`/users/${user.id}`) Home 
        a(id='listsButton' href='#') Lists
        a(id='aboutButton' href=`/users/${user.id}/about`) About 