html
body 
  h1 Register 
  if errors
    each error in errors 
     ul
      li= error.msg
  form(method="post" action="/users")
    input(type="hidden" name="_csrf" value=csrfToken)
    label(for="firstName") First Name 
    input(type="text" name="firstName" value=user.firstName)
    label(for="lastName") Last Name 
    input(type="text" name="lastName" value=user.lastName)
    label(for="userName") Username
    input(type="text" name="userName" value=user.userName)
    label(for="email") Email 
    input(type="email" name="email" value=user.email)
    label(for="password") Password 
    input(type="password" name="password" value=user.password)
    label(for="password") Confirmed Password 
    input(type="password" name="confirmedPassword")
    button Submit
