extends layout.pug 

block content
    link(rel='stylesheet' href='/stylesheets/user-content-bar.css')
    link(rel='styelsheet' href='/stylesheets/user-page-center.css')
    script(src='/javascripts/user-page.js')
    div(id='feed-main-layout')
        include feed-sidebar.pug
        div(class='centerHolderUser')
            div(id='keepupUser')
                a(href=`/users/${user.id}`)
                    h1= `${user.firstName} ${user.lastName}`
            div(id='feedChoiceUser')
                a(id='homeButton' href=`/users/${user.id}`) Home 
                a(id='listsButton' href=`/users/${user.id}/lists`) Lists
                a(id='aboutButton' href=`/users/${user.id}/about`) About 
            div(id= 'contentDisplayed')
                if (userTags.length === 0)
                    div(class='noStoriesToShow')
                        a(href='#') No Tags Followed
                div(id= 'userTagsContainer')
                    each tag in userTags
                        a(href='#')= `${tag.id}`
                        
                        div(class='storyDivUser')
                            div(class='storyContentUser')
                                div(class='topInfoUser')
                                    //- img(class='feedprofile-img' src='/images/logo.png')
                                    //- a(href='#') #{story.User.firstName} #{story.User.lastName}
                                    p= `${story.date}`
                                a(class='storyTitleUser' href=`/stories/${story.id}`)= story.title
                                div(class='storyPreviewUser')
                                    a(href=`/stories/${story.id}`)= `${story.article.split(' ').splice(0,25).join(' ')}...`
                                div(class='underStoryUser')
                                    div(class='underLeftUser')
                                        div(class='ownClap')
                                            p(class='clapErr') You cannot applaud your own story
                                            img(src="/images/clap.png" class='clapIcon')
                                        img(src="/images/comment-bubble.png", alt="")
                                    div(class='underRightUser')
                                        img(src="/images/save.png", alt="")
                                        strong(href='#') ···
        include user-content-bar.pug