extends layout.pug 

block content
    link(rel='stylesheet' href='/stylesheets/user-content-bar.css')
    script(src='/javascripts/user-page.js')
    div(id='feed-main-layout')
        include feed-sidebar.pug

        div(class='centerHolderUser' data-userBio=`${user.bio}`)
            div(id='keepupUser')
                a(href=`/users/${user.id}`)
                    h1= `${user.firstName} ${user.lastName}`
            div(id='feedChoiceUser')
                a(href=`/users/${user.id}`) Home 
                a(href='#') Lists
                a(href=`/users/${user.id}/about`) About 
            div(id= 'contentDisplayed')
                div(id= 'userAbout')
                    div(id = 'userBio')
                        div(class='noBio')  
                            h2(class='h2Bio') Tell the world about yourself
                            p(class='bioText') Here's where you can share more about yourself: your history, work experience, accomplishments, interests, dreams, and more. You can even add images and use rich text to personalize your bio.
                            a(class='getStartedButton') Get Started
                        div(class='bioEdit hideBio')
                            a(id='submitButton' data-userId=`${user.id}`) Save
                            textarea(placeholder='Type your story' id='editBioText' name="bioText", cols="1", rows="5")= `${user.bio}`
                        div(class='showBio hideBio')
                            a(id='editButton' data-userId=`${user.id}`) Edit
                            p(class='AZ')= `${user.bio}`

        include user-content-bar.pug
