extends splash.pug 
block content
    div(id='errStatusLog' class='hidden')= errStatusLog
    div(id='errStatusCreate' class='hidden')= errStatusCreate
    div(class='modal-container hidden' id='modal-container')
      div(class='modal hidden')
        div(class='closeButton')
          img(id="login-modal-close-button" src='/images/close.png')
        div(class='loginPage hidden')
          h1(class='welcome') Welcome Back. 
          if logInErrors
            div(class='errDiv')
              each error in logInErrors 
                ul
                  li= error
          form(method="post" action="/login" class='loginForm')
            input(type="hidden" name="_csrf" value=csrfToken)
            label(for="email") Email 
            input(type="email" name="email" value=email)
            label(for="password") Password 
            input(type="password" name="password")
            button(class='signInButton') Log In
          h2 No account?
            a(class='createButtono') Create One
    
        div(class='registerPage hidden')
          h1 Join Medium. 
          if createErrors
            div(class='errDiv')
              each error in createErrors 
                ul
                  li= error
          form(method="post" action="/users" class='registerForm hidden')
            input(type="hidden" name="_csrf" value=csrfToken)
            label(for="firstName") First Name 
            input(type="text" name="firstName" value=user.firstName)
            label(for="lastName") Last Name 
            input(type="text" name="lastName" value=user.lastName)
            label(for="userName") Username
            input(type="text" name="userName" value=user.userName)
            label(for="email") Email 
            input(type="email" name="email" value=user.email)
            label(for="password") Password 
            input(type="password" name="password")
            label(for="password") Confirm Password 
            input(type="password" name="confirmedPassword")
            button(class='createButton') Create Account
          h2 Already have an account?
          button(class='signInButtono') Sign In

