div(class="content-bar")
    div(class="unlimited-access-container")
        button(class="unlimited-access-btn") Get unlimited access
            
    div(class="search-bar-container")
        div(class="search-bar")
    div(class="userInfo")
        img(class='userIcon' src="https://picsum.photos/200")
        div(class="userRName")
            a(class='userLinking' href=`/users/${user.id}`)= `${user.firstName} ${user.lastName}`
            if (followerCount === 1)
                p(class="user-follower-count-text") #{followerCount} Follower
            else 
                p(class="user-follower-count-text") #{followerCount} Followers
        if (currUser.id !== user.id)
            div(class="user-bio")
                p(class="story-user-bio-text") #{user.bio}
        if (currUser.id === user.id)
            a(href=`/users/${user.id}/about` class="see-the-full-list") Edit Info

    div(class='bottLinks')
        a(class='botLink' href='/thanks') Help
        a(class='botLink' href='/thanks') Status 
        a(class='botLink' href='/thanks') Writer
        a(class='botLink' href='/thanks') Blog 
        a(class='botLink' href='/thanks') Careers 
        a(class='botLink' href='/thanks') Privacy
        a(class='botLink' href='/thanks') Terms 
        a(class='botLink' href='/thanks') About 
        a(class='botLink' href='/thanks') Knowable



            
